$red: #E63946;
$red-lighter: #FF707A;
$green: #3DD598;
$black-darker: #203048;
$black: #4D596D;
$black-lighter: #A6ACB6;
$black-lightest: #D2D6DA;
$grey: #F4F7F9;

$colors: (
    "red": $red,
    "red-lighter": $red-lighter,
    "green": $green,
    "black-darker": $black-darker,
    "black": $black,
    "black-lighter": $black-lighter,
    "black-lightest": $black-lightest,
    "grey": $grey,
    "white": white,
);

@each $name, $value in $colors {
    .#{$name} {
        color: $value;
    }
    .bg-#{$name} {
        background-color: $value;
    }
    .bd-#{$name} {
        border: 1px solid $value;
    }
}

.bd-none {
    border: none;
}