$red: #E63946;
$red-lighter: #FF707A;
$green: #3DD598;
$black-darker: #203048;
$black: #4D596D;
$black-lighter: #A6ACB6;
$grey: #F4F7F9;

.red {
    color: $red;
}

.bg-red {
    background-color: $red;
}

.red-lighter {
    color: $red-lighter;
}

.bg-red-lighter {
    background-color: $red-lighter;
}

.green {
    color: $green;
}

.bg-green {
    background-color: $green;
}

.black-darker {
    color: $black-darker;
}

.bg-black-darker {
    background-color: $black-darker;
}

.black {
    color: $black;
}

.bg-black {
    background-color: $black;
}

.black-lighter {
    color: $black-lighter;
}

.bg-black-lighter {
    background-color: $black-lighter;
}

.grey {
    color: $grey;
}

.bg-grey {
    background-color: $grey;
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}