.body {
    padding-top: 140px;
    .col-1 {
        width: 379px;
        flex-basis: 379px;
        color: $black-darker
    }
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
        width: 188px;
        flex-basis: 188px;
        color: $black
    }
    .checked {
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background-color: $green;
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4 {
        border-bottom: 1px solid $black-lightest;
        border-right: 1px solid $black-lightest;
    }
    .col-5 {
        border-bottom: 1px solid $black-lightest;
    }
    .heading {
        border-radius: 4px 4px 0 0;
        position: sticky;
        top: 90px;
        z-index: 888;
        .best-value {
            border: 2px solid $green;
            .best-value-item {
                top: -14px;
                left: calc(50% - 51px);
            }
        }
    }
    .view-more {
        position: sticky;
        top: 90px;
    }
    .content {
        border-radius: 0 0 4px 4px;
        position: sticky;
        top: 90px;
        .col-1,
        .col-2,
        .col-3,
        .col-4,
        .col-5 {
            padding: 18px 21px;
        }
        &.last-content {
            .col-1,
            .col-2,
            .col-3,
            .col-4 {
                border-bottom: none;
            }
            .col-5 {
                border-bottom: none;
            }
        }
    }
    .bottom {
        position: sticky;
        top: 90px;
        .col-1,
        .col-2,
        .col-3,
        .col-4,
        .col-5 {
            border-bottom: none;
        }
    }
    .overcharge-cost {
        position: sticky;
        top: 456px;
        table {
            width: 671px;
            box-shadow: 0px 4px 8px rgba(0, 0, 59, 0.12), -1px 0px 4px rgba(0, 0, 59, 0.06), 0px 1px 4px rgba(0, 0, 59, 0.06);
        }
        .line-height-center {
            line-height: normal;
        }
    }
}