.header {
    background-color: #E63946;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    .logo {
        height: 40px;
        img {
            height: 100%;
        }
    }
}